header nav h1 {
  color: white;
}

.main {
  display: flex;
  gap: 2rem;
  margin: 2rem 5% 0 5%;
  color: var(--clr-text);

  .left {
    height: fit-content;
    flex-shrink: 0;

    ul {
      list-style: none;

      .title {
        margin-top: 1.5rem;
        font-size: 2rem;
        font-weight: 500;
      }

      li {
        margin: 0.5rem 0;

        &:first-of-type {
          margin-top: 0;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        a {
          text-decoration: none;
          color: var(--clr-text);
          font-size: 1.75rem;
          padding: 0 1rem;
          transition: 0.1s;

          &:hover {
            color: var(--clr-main-light);
          }
        }
      }
    }
  }

  .right {
    flex-grow: 1;
    height: fit-content;
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;

    fieldset {
      scroll-snap-align: start;
      min-width: 100%;
      border: none;
      border-radius: var(--value-default-border-radius);

      legend {
        font-size: 2.5rem;
        font-weight: 600;
        margin-left: 2rem;
      }

      legend.no-move {
        margin-left: 0.3rem;
      }

      .form-content {
        display: flex;

        .product-list {
          width: 10%;
          height: 80vh;
          overflow-x: hidden;
          overflow-y: scroll;
          padding: 0 0.3rem;
          flex-shrink: 0;

          h4 {
            position: sticky;
            top: 0;
            background-color: var(--clr-bg);
            font-size: 2rem;
            font-weight: 400;
          }

          .product {
            margin-bottom: 1rem;

            .product-image {
              width: 100%;
              aspect-ratio: 1;

              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: var(--value-default-border-radius);
              }
            }

            .product-name {
              margin-top: 0.1rem;
              font-size: 1.65rem;
              font-weight: 400;
              color: var(--clr-text);
            }

            .product-id {
              font-size: 1.5rem;
              line-height: 0.8;
              color: var(--clr-text);
            }
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 0 2rem;

        label {
          margin-top: 1rem;
          font-size: 2rem;
          font-weight: 400;

          &:first-of-type {
            margin-top: 0;
          }
        }

        select {
          font-size: 1.5rem;
          font-weight: 300;
          padding: 0 0.5rem;

          option {
            font-size: 1rem;
            font-weight: 300;
          }
        }

        input {
          line-height: 1;
          padding: 0 1rem;
          font-size: 1.75rem;
          font-weight: 300;
          outline: none;
          border-radius: var(--value-default-border-radius);
          border: 1px solid var(--clr-main-light);
          background-color: var(--clr-bg);
          color: var(--clr-text);
        }

        textarea {
          line-height: 1;
          font-size: 1.75rem;
          font-weight: 300;
          padding: 0.5rem 1rem;
          outline: none;
          border-radius: var(--value-default-border-radius);
          border: 1px solid var(--clr-main-light);
          background-color: var(--clr-bg);
          color: var(--clr-text);
          resize: none;
          transition: 0.1s;
        }

        .image-upload-field {
          position: relative;
          border-radius: 12px;
          border: 2px dashed var(--clr-main-light);
          height: 10rem;
          width: 100%;
          transition: 0.2s;
          z-index: 1;

          input {
            position: relative;
            height: 100%;
            width: 100%;
            opacity: 0;
            cursor: pointer;
            z-index: 3;
          }

          .image-preview {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            justify-content: center;
            align-items: center;
            height: 80%;
            width: 90%;
            z-index: 2;

            img {
              height: 100%;
              aspect-ratio: 1;
              object-fit: contain;
              flex-shrink: 0;
            }

            div {
              padding: 0 2rem;
              text-align: center;
              font-size: 2rem;
              color: var(--clr-main-light);
            }
          }

          &:hover {
            background-color: hsla(277, 24%, 60%, 0.3);
          }

          &::after {
            content: "Click to choose or drag an image here to upload";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: max-content;
            font-size: 2rem;
            color: var(--clr-main-light);
            z-index: 0;
          }
        }

        .drag-over {
          background-color: hsla(277, 24%, 60%, 0.3);

          &::after {
            content: "Drop the image here";
          }
        }

        .drop {
          &:hover {
            background-color: var(--clr-bg) !important;
          }

          &::after {
            content: "";
          }
        }

        .actions {
          display: flex;
          gap: 1rem;
          height: 3rem;
          margin: 1.5rem 0;

          input {
            height: 100%;
            flex-grow: 1;
            color: var(--clr-text);
            cursor: pointer;
            transition: 0.2s;

            &:hover {
              filter: brightness(0.8);
            }
          }
        }

        input[type="submit"] {
          color: white;
          background-color: var(--clr-main-light);
        }
      }
    }
  }
}

.invalid {
  outline: 3px solid rgba(255, 0, 0, 0.555) !important;
  border: 1px solid red !important;
}
