header nav h1 {
  color: white;
}

.main {
  display: flex;
  gap: 2rem;
  margin: 2rem 5% 0 5%;

  .left {
    // border: 3px solid yellow;
    height: fit-content;
    // position: sticky;
    // top: 8rem;
    flex-shrink: 0;

    ul {
      list-style: none;
      // padding: 1rem 2rem;

      .title {
        margin-top: 1.5rem;
        font-size: 2rem;
        font-weight: 500;
      }

      li {
        // border: 3px solid green;
        margin: 0.5rem 0;

        &:first-of-type {
          margin-top: 0;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        a {
          text-decoration: none;
          color: black;
          font-size: 1.75rem;
          padding: 0 0 0 1rem;
          transition: 0.1s;

          &:hover {
            color: var(--clr-main-light);
          }
        }
      }
    }
  }

  .right {
    // border: 3px solid green;
    flex-grow: 1;
    height: fit-content;
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;

    fieldset {
      scroll-snap-align: start;
      min-width: 100%;
      // margin: 0 1rem;
      border: none;
      border-radius: var(--value-default-border-radius);
      // border: 3px solid green;

      legend {
        font-size: 2.5rem;
        font-weight: 600;
        margin-left: 2rem;
      }

      form {
        display: flex;
        flex-direction: column;
        margin: 0 2rem;

        label {
          margin-top: 1rem;
          font-size: 2rem;
          font-weight: 400;

          &:first-of-type {
            margin-top: 0;
          }
        }

        select {
          font-size: 1.5rem;
          font-weight: 300;
          padding: 0 0.5rem;

          option {
            font-size: 1rem;
            font-weight: 300;
          }
        }

        input {
          line-height: 1;

          padding: 0 1rem;
          font-size: 1.75rem;
          font-weight: 300;
          outline: none;
          border-radius: var(--value-default-border-radius);
          border: 1px solid var(--clr-main-light);
        }

        textarea {
          line-height: 1;
          font-size: 1.75rem;
          font-weight: 300;
          padding: 0.5rem 1rem;
          outline: none;
          border-radius: var(--value-default-border-radius);
          border: 1px solid var(--clr-main-light);
          resize: none;
          height: 100%;
        }

        .image-upload-field {
          position: relative;
          border-radius: 12px;
          border: 2px dashed var(--clr-main-light);
          height: 10rem;
          width: 100%;
          transition: 0.2s;
          z-index: 1;

          input {
            position: relative;
            height: 100%;
            width: 100%;
            opacity: 0;
            cursor: pointer;
            z-index: 3;
          }

          .image-preview {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            justify-content: center;
            align-items: center;
            height: 80%;
            width: 90%;
            // border: 3px solid red;
            z-index: 2;

            img {
              height: 100%;
              aspect-ratio: 1;
              object-fit: contain;
              flex-shrink: 0;
            }

            div {
              // flex-grow: 1;
              // border: 3px solid yellow;
              padding: 0 2rem;
              text-align: center;
              font-size: 2rem;
              color: var(--clr-main-light);
            }
          }

          &:hover {
            background-color: hsla(277, 24%, 60%, 0.3);
          }

          &::after {
            content: "Click to choose or drag an image here to upload";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: max-content;
            font-size: 2rem;
            color: var(--clr-main-light);
            z-index: 0;
            // border: 3px solid red;
          }
        }

        .drag-enter {
          // border: 3px solid var(--clr-main-light);
        }

        .drag-over {
          background-color: hsla(277, 24%, 60%, 0.3);

          &::after {
            content: "Drop the image here";
          }
        }

        .drop {
          &:hover {
            background-color: white !important;
          }

          &::after {
            content: "";
          }
        }

        input[type="submit"] {
          height: 3rem;
          margin: 1.5rem 0;

          background-color: var(--clr-main-light);
          color: white;
          cursor: pointer;

          transition: 0.2s;
          &:hover {
            filter: brightness(0.9);
          }
        }
      }
    }
  }
}
