* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Dongle", sans-serif;
}

:root {
  --clr-main: #7e25cb;
  --clr-main-light: #9e80b1;
  --clr-main-lighter: #ffe9ff;
  --clr-main-contrast: #61baad;
  --clr-main-dark: #3a2a46;
  --value-default-border-radius: 6px;
  --value-default-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --value-default-linear-gradient: linear-gradient(
    90deg,
    rgb(230, 230, 230) 0%,
    rgb(245, 245, 245) 60%,
    rgb(230, 230, 230) 100%
  );
}

html {
  scroll-padding-top: 7rem;
}

body {
  min-height: 100vh;
  font-family: "Dongle", sans-serif;
}

header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-family: "Dongle", sans-serif;
  background-color: var(--clr-main);
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.25);
  z-index: 99;
}

header nav {
  height: 5rem;
  width: 100%;
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
}

header nav #logo {
  text-decoration: none;
  color: var(--clr-main-lighter);
  font-weight: 600;
  line-height: 0.7;
}

header nav .searchBar {
  height: 60%;
  width: 55%;
}

header nav .searchBar input {
  height: 100%;
  width: 100%;
  font-family: "Dongle", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  border-radius: var(--value-default-border-radius);
  border: none;
  outline: none;
  padding: 0 1rem;
}

header nav .actions {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

header nav .actions .shopping-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .actions .shopping-list .container {
  display: none;
  position: absolute;
  top: 4.5rem;
  left: 55%;
  right: 5%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 50vh;
  overflow-y: auto;
  background-color: white;
  border-radius: var(--value-default-border-radius);
  -webkit-box-shadow: 0 0 100px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 100px 5px rgba(0, 0, 0, 0.5);
  -webkit-animation: slide-up 0.5s forwards, fade 0.3s forwards;
          animation: slide-up 0.5s forwards, fade 0.3s forwards;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

header nav .actions .shopping-list .container::-webkit-scrollbar {
  display: none;
}

header nav .actions .shopping-list .container .contents {
  position: relative;
  height: 100%;
  width: 100%;
}

header nav .actions .shopping-list .container .contents h3 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0.5rem 1rem 0 1rem;
  background-color: white;
  z-index: 1;
  border-radius: var(--value-default-border-radius);
}

header nav .actions .shopping-list .container .contents ul {
  list-style: none;
  margin: 0 1rem 0 1rem;
}

header nav .actions .shopping-list .container .contents ul li {
  margin-bottom: 1rem;
}

header nav .actions .shopping-list .container .contents ul li a {
  text-decoration: none;
}

header nav .actions .shopping-list .container .contents ul .details {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .actions .shopping-list .container .contents ul .details .photo {
  height: 3.5rem;
  width: 3.5rem;
  background-color: var(--clr-main-light);
  border-radius: var(--value-default-border-radius);
  background-image: var(--value-default-linear-gradient);
  border-radius: var(--value-default-border-radius);
  -webkit-animation: extra-small-photo-loading 1.25s linear infinite;
          animation: extra-small-photo-loading 1.25s linear infinite;
}

header nav .actions .shopping-list .container .contents ul .details .photo img {
  height: 100%;
  width: 100%;
  border-radius: var(--value-default-border-radius);
  -o-object-fit: cover;
     object-fit: cover;
}

header nav .actions .shopping-list .container .contents ul .details .text {
  margin-left: 1rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav .actions .shopping-list .container .contents ul .details .text .name {
  height: 2rem;
}

header nav .actions .shopping-list .container .contents ul .details .text div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  /* Firefox */
}

header nav .actions .shopping-list .container .contents ul .details .text div input {
  height: 1.5rem;
  width: 5rem;
  font-family: "Dongle", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  border-radius: var(--value-default-border-radius);
  border: 1px solid var(--clr-main-light);
  outline: none;
  text-align: center;
  /* Chrome, Safari, Edge, Opera */
}

header nav .actions .shopping-list .container .contents ul .details .text div input::-webkit-outer-spin-button, header nav .actions .shopping-list .container .contents ul .details .text div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header nav .actions .shopping-list .container .contents ul .details .text div input[type="number"] {
  -moz-appearance: textfield;
}

header nav .actions .shopping-list .container .contents ul .details .text div .price {
  margin-left: 0.5rem;
}

header nav .actions .shopping-list .container .contents .bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 0 1rem;
  height: 3.5rem;
  background-color: var(--clr-main-light);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .actions .shopping-list .container .contents .bottom button {
  border: 1px solid white;
  line-height: 1;
  height: 2.25rem;
}

header nav .actions .shopping-list:hover .container {
  display: block;
}

header nav .actions .shopping-list:hover > button {
  background-color: rgba(245, 245, 245, 0.25);
}

header nav button {
  font-family: "Dongle", sans-serif;
  font-size: 1.5rem;
  border: none;
  padding: 0 0.5rem;
  background-color: transparent;
  color: whitesmoke;
  border-radius: var(--value-default-border-radius);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header nav button:hover {
  background-color: rgba(245, 245, 245, 0.25);
}

header .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3rem;
  background-color: white;
}

header .categories h3 {
  color: var(--clr-main-light);
  font-weight: 500;
  font-size: 1.5rem;
  padding-left: 5%;
}

header .categories ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0 1rem;
  background-color: white;
  overflow-x: auto;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

header .categories ul::-webkit-scrollbar {
  display: none;
}

header .categories ul li {
  height: 60%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0.3rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid var(--clr-main-light);
  border-radius: var(--value-default-border-radius);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  scroll-snap-align: end;
}

header .categories ul li:hover {
  background-color: var(--clr-main-light);
}

header .categories ul li:hover a {
  color: white;
}

header .categories ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  text-decoration: none;
  font-size: 1.23rem;
  color: var(--clr-main-light);
  cursor: pointer;
}

header .categories .selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  width: 5rem;
  height: 60%;
  margin-right: 1rem;
}

header .categories .selector a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: var(--clr-main-light);
  border-radius: var(--value-default-border-radius);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .categories .selector a:hover {
  background-color: rgba(148, 148, 148, 0.25);
}

.selected {
  background-color: var(--clr-main-light);
}

.selected a {
  color: white !important;
}

.main {
  position: relative;
  margin: 0 5%;
  font-weight: 300;
  line-height: 1;
  background-color: white;
}

.main .location {
  position: -webkit-sticky;
  position: sticky;
  top: 8rem;
  padding-top: 1rem;
  background-color: white;
  font-size: 1.5rem;
  z-index: 1;
}

.main .location a {
  text-decoration: none;
  color: black;
}

.main .location a:hover {
  text-decoration: underline;
}

.main .location a:last-of-type:hover {
  text-decoration: none;
  cursor: default;
}

.main section {
  margin-bottom: 3rem;
}

.main section h3 {
  position: -webkit-sticky;
  position: sticky;
  top: 10.5rem;
  background-color: white;
  font-size: 3rem;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  top: 100vh;
  height: 3rem;
  width: 100%;
  background-color: var(--clr-main-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer span {
  font-size: 1.25rem;
  color: white;
}

@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes extra-small-photo-loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 3.5rem 0;
  }
}

@keyframes extra-small-photo-loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 3.5rem 0;
  }
}

@-webkit-keyframes small-photo-loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 6rem 0;
  }
}

@keyframes small-photo-loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 6rem 0;
  }
}

@-webkit-keyframes large-photo-loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 20rem 0;
  }
}

@keyframes large-photo-loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 20rem 0;
  }
}
/*# sourceMappingURL=common.css.map */