* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Dongle", sans-serif;
}

:root {
  --clr-bg: #ffffff;
  --clr-text: #000000;
  --clr-main: #7e25cb;
  --clr-main-light: #9e80b1;
  --clr-main-lighter: #ffe9ff;
  --clr-main-contrast: #61baad;
  --clr-main-dark: #3a2a46;
  --value-default-border-radius: 6px;
  --value-default-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --value-default-linear-gradient: linear-gradient(
    90deg,
    rgb(230, 230, 230) 0%,
    rgb(245, 245, 245) 60%,
    rgb(230, 230, 230) 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-bg: #222222;
    --clr-text: #ffffff;
    --clr-main: #7e25cb;
    --clr-main-light: #b994cf;
    --clr-main-lighter: #ffe9ff;
    --clr-main-contrast: #61baad;
    --clr-main-dark: #3a2a46;
    --value-default-border-radius: 6px;
    --value-default-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --value-default-linear-gradient: linear-gradient(
      90deg,
      rgb(100, 100, 100) 0%,
      rgb(115, 115, 115) 60%,
      rgb(100, 100, 100) 100%
    );
  }
}

html {
  scroll-padding-top: 7rem;
}

body {
  min-height: 100vh;
  font-family: "Dongle", sans-serif;
  background-color: var(--clr-bg);
}

header {
  height: fit-content;
  width: 100%;
  position: sticky;
  top: 0;
  font-family: "Dongle", sans-serif;
  background-color: var(--clr-main);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.25);
  z-index: 99;

  nav {
    height: 5rem;
    width: 100%;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;

    #logo {
      text-decoration: none;
      color: var(--clr-main-lighter);
      font-weight: 600;
      line-height: 0.7;
    }

    .searchBar {
      height: 60%;
      width: 55%;

      input {
        height: 100%;
        width: 100%;
        font-family: "Dongle", sans-serif;
        font-size: 1.5rem;
        font-weight: 300;
        border-radius: var(--value-default-border-radius);
        background-color: var(--clr-bg);
        color: var(--clr-text);
        border: none;
        outline: none;
        padding: 0 1rem;
      }
    }

    .actions {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .shopping-list {
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 2rem;
        // position: absolute;

        // button::after {
        //   content: attr(data-quantity);
        //   position: absolute;
        //   right: 13.5rem;
        //   top: 0.5rem;
        //   height: 1.5rem;
        //   padding: 0 0.25rem;
        //   line-height: 1.15;
        //   // background-color: #4c0e816b;
        //   color: #ffffff73;
        //   border-radius: var(--value-default-border-radius);
        // }

        .container {
          display: none;
          position: absolute;
          top: 4.5rem;
          left: 55%;
          right: 5%;
          height: fit-content;
          max-height: 50vh;
          overflow-y: auto;
          background-color: var(--clr-bg);
          color: var(--clr-text);
          border-radius: var(--value-default-border-radius);
          box-shadow: 0 0 100px 5px rgba(0, 0, 0, 0.5);
          animation: slide-up 0.5s forwards, fade 0.3s forwards;

          /* Hide scrollbar for Chrome, Safari and Opera */
          &::-webkit-scrollbar {
            display: none;
          }

          /* Hide scrollbar for IE, Edge and Firefox */
          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */

          .contents {
            position: relative;
            height: 100%;
            width: 100%;

            h3 {
              position: sticky;
              top: 0;
              padding: 0.5rem 1rem 0 1rem;
              background-color: var(--clr-bg);
              z-index: 1;
              border-radius: var(--value-default-border-radius);
            }

            h4 {
              text-align: center;
              padding: 1.5rem 0 2rem 0;
            }

            ul {
              list-style: none;
              margin: 0 1rem 0 1rem;

              li {
                margin-bottom: 1rem;

                a {
                  text-decoration: none;
                }
              }

              .details {
                height: 4rem;
                display: flex;
                align-items: center;

                .photo {
                  height: 3.5rem;
                  width: 3.5rem;
                  background-color: var(--clr-main-light);
                  border-radius: var(--value-default-border-radius);
                  background-image: var(--value-default-linear-gradient);
                  border-radius: var(--value-default-border-radius);
                  animation: extra-small-photo-loading 1.25s linear infinite;

                  img {
                    height: 100%;
                    width: 100%;
                    border-radius: var(--value-default-border-radius);
                    object-fit: cover;
                  }
                }

                .text {
                  margin-left: 1rem;
                  height: 100%;
                  display: flex;
                  flex-direction: column;

                  .name {
                    height: 2rem;
                  }

                  div {
                    display: flex;
                    align-items: center;
                    height: 2rem;

                    input {
                      height: 1.5rem;
                      width: 5rem;
                      font-family: "Dongle", sans-serif;
                      font-size: 1.5rem;
                      font-weight: 300;
                      border-radius: var(--value-default-border-radius);
                      border: 1px solid var(--clr-main-light);
                      background-color: var(--clr-bg);
                      color: var(--clr-text);
                      outline: none;
                      text-align: center;

                      /* Chrome, Safari, Edge, Opera */
                      &::-webkit-outer-spin-button,
                      &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                      }
                    }

                    /* Firefox */
                    input[type="number"] {
                      -moz-appearance: textfield;
                    }

                    .price {
                      margin-left: 0.5rem;

                      &::before {
                        content: "$";
                      }

                      &::after {
                        content: " @1";
                        font-weight: 100;
                      }
                    }
                  }
                }

                .delete {
                  height: 2rem;
                  width: 2rem;
                  margin-left: auto;
                  text-align: center;
                  user-select: none;
                  cursor: pointer;
                }
              }
            }

            .bottom {
              position: sticky;
              bottom: 0;
              padding: 0 1rem;
              height: 3.5rem;

              background-color: var(--clr-main-light);
              color: white;
              display: flex;
              justify-content: space-between;
              align-items: center;

              button {
                border: 1px solid white;
                line-height: 1;
                height: 2.25rem;
              }
            }
          }
        }

        &:hover {
          .container {
            display: block;
          }

          & > button {
            background-color: hsla(0, 0%, 96%, 0.25);
          }
        }
      }
    }

    button {
      font-family: "Dongle", sans-serif;
      font-size: 1.5rem;
      border: none;
      padding: 0 0.5rem;
      background-color: transparent;
      color: whitesmoke;
      border-radius: var(--value-default-border-radius);
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: hsla(0, 0%, 96%, 0.25);
      }
    }
  }

  .categories {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: var(--clr-bg);

    h3 {
      color: var(--clr-main-light);
      font-weight: 500;
      font-size: 1.5rem;
      padding-left: 5%;
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      height: 100%;
      width: 100%;
      margin: 0 1rem;
      background-color: var(--clr-bg);
      overflow-x: auto;

      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      li {
        height: 60%;
        width: fit-content;
        margin: 0 0.3rem;
        flex-shrink: 0;
        border: 1px solid var(--clr-main-light);
        border-radius: var(--value-default-border-radius);
        transition: 0.1s;
        scroll-snap-align: end;

        &:hover {
          background-color: var(--clr-main-light);
          a {
            color: white;
          }
        }

        a {
          display: flex;
          align-items: center;
          height: 100%;
          width: 100%;
          padding: 0 1rem;
          text-decoration: none;
          font-size: 1.23rem;
          color: var(--clr-main-light);
          cursor: pointer;
        }
      }
    }

    .selector {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      width: 5rem;
      height: 60%;
      margin-right: 1rem;

      a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 1.5rem;
        color: var(--clr-main-light);
        border-radius: var(--value-default-border-radius);
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background-color: hsla(0, 0%, 58%, 0.25);
        }
      }
    }
  }
}

.selected {
  background-color: var(--clr-main-light);
  a {
    color: white !important;
  }
}

.main {
  position: relative;
  margin: 0 5%;
  font-weight: 300;
  line-height: 1;
  background-color: var(--clr-bg);

  .location {
    position: sticky;
    top: 8rem;
    padding-top: 1rem;
    background-color: var(--clr-bg);
    color: var(--clr-text);
    font-size: 1.5rem;
    z-index: 1;

    a {
      text-decoration: none;
      color: var(--clr-text);

      &:hover {
        text-decoration: underline;
      }

      &:last-of-type:hover {
        text-decoration: none;
        cursor: default;
      }
    }
  }

  section {
    margin-bottom: 3rem;

    h3 {
      position: sticky;
      top: 10.5rem;
      background-color: var(--clr-bg);
      font-size: 3rem;
      color: var(--clr-text);
    }
  }
}

footer {
  position: sticky;
  top: 100vh;
  height: 3rem;
  width: 100%;
  background-color: var(--clr-main-dark);
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 1.25rem;
    color: white;
  }
}

.invalid {
  outline: 3px solid rgba(255, 0, 0, 0.555) !important;
  border: 1px solid red !important;
  border-radius: var(--value-default-border-radius);
}

@keyframes slide-up {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes extra-small-photo-loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 3.5rem 0;
  }
}

@keyframes small-photo-loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 7rem 0;
  }
}

@keyframes large-photo-loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 20rem 0;
  }
}
