.product-list {
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
  gap: 2rem 1rem;

  .product {
    height: fit-content;
    width: 7rem;

    .photo {
      height: 7rem;
      width: 7rem;
      background-image: var(--value-default-linear-gradient);
      border-radius: var(--value-default-border-radius);
      cursor: pointer;
      animation: small-photo-loading 1.25s linear infinite;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: var(--value-default-border-radius);
      }
    }

    a {
      text-decoration: none;
      color: var(--clr-text);

      .name {
        margin-top: 0.25rem;
        font-size: 1.5rem;
        font-weight: 400;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .price {
      font-size: 1.6rem;
      color: var(--clr-text);
      cursor: default;

      &::before {
        content: "$";
      }
    }

    button,
    input[type="submit"] {
      height: 2rem;
      width: 100%;
      cursor: pointer;
      font-family: "Dongle", sans-serif;
      font-size: 1.4rem;
      color: var(--clr-main-light);
      background-color: var(--clr-bg);
      border: 1px solid var(--clr-main-light);
      border-radius: var(--value-default-border-radius);
      transition: 0.1s;

      &:hover {
        color: white;
        background-color: var(--clr-main-light);
      }
    }
  }
}

.pages {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  span {
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    color: var(--clr-text);
    border: 1px solid var(--clr-main-light);
    border-radius: var(--value-default-border-radius);
    cursor: pointer;
  }
}

.visiting {
  background-color: var(--clr-main-light) !important;
  color: white !important;
}
