.product-list {
  height: fit-content;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  gap: 2rem 1rem;
  // padding-top: 0.5rem;

  .product {
    height: 12rem;
    width: 6rem;

    .photo {
      height: 6rem;
      width: 6rem;
      background-image: var(--value-default-linear-gradient);
      border-radius: var(--value-default-border-radius);
      cursor: pointer;
      animation: small-photo-loading 1.25s linear infinite;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: var(--value-default-border-radius);
      }
    }

    a {
      text-decoration: none;
      color: black;

      .name {
        margin-top: 0.25rem;
        font-size: 1.5rem;
        font-weight: 400;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .price {
      font-size: 1.6rem;
      cursor: default;
    }

    button {
      height: 2rem;
      width: 100%;
      cursor: pointer;
      font-family: "Dongle", sans-serif;
      font-size: 1.4rem;
      color: var(--clr-main-light);
      background-color: white;
      border: 1px solid var(--clr-main-light);
      border-radius: var(--value-default-border-radius);
      transition: 0.1s;

      &:hover {
        color: white;
        background-color: var(--clr-main-light);
      }
    }
  }
}
